In [1]:
import numpy as np
import pandas as pd

df = pd.read_excel('Final_Merged_Venue_Date_Value_updated.xlsx')

In [2]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)
df.head()

,Event code,Artist,Ticket price,Date,Tickets sold,Solo or multiple,Venue,Capacity,Day,Days,Weekend,coordinates,latitude,longitude,temperature,feels_like_temp,temp_min,temp_max,precipitation_mm,snow_mm,wind_speed,humidity,pressure,visibility,cloudiness,weather_conditions,weather_description,bad_weather_flag,temp_category,weather_risk_score,Artist_matched,Artist.1,artist_id,cm_artist_score,cm_artist_rank,country,record_label,primary_genre,spotify_followers,spotify_monthly_listeners,youtube_total_subscribers,youtube_top_country,tiktok_total_followers,tiktok_top_country,instagram_total_followers,instagram_top_country,instagram_engagement_rate,albums_count,tracks_count,events_count,riaa_awards_count,avg_ticket_price,min_ticket_price,max_ticket_price,Competitive_Value,event
0,30138,Harvest Blaque,5.0,2021-10-29,24,1,The Spot on Kirk,125,5,Fri,Yes,"37.2712342, -79.9393615",37.271234,-79.939362,15.7,15.7,13.3,19.3,37.225,0.0,27.2,78.9,998.9,12.7,82.8,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance of rain throughout the day.,1,Cool,8,Harvest Blaque,Harvest Blaque,8020771.0,0.852033,NaN,US,Distrokid,instrumental,197.0,19.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,14.0,10.0,0.0,0.0,NaN,NaN,NaN,No data,2.0
1,30184,Harvest Blaque,10.0,2022-07-16,30,2,The Spot on Kirk,125,6,Sat,Yes,"37.2712342, -79.9393615",37.271234,-79.939362,25.2,25.7,20.6,29.3,0.000,0.0,16.3,72.2,1018.7,16.0,59.0,Partially cloudy,Partly cloudy throughout the day.,1,Ideal,2,Harvest Blaque,Harvest Blaque,8020771.0,0.852033,NaN,US,Distrokid,instrumental,197.0,19.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,14.0,10.0,0.0,0.0,NaN,NaN,NaN,No data,1.0
2,10035,Derrick Knopsnyder,20.0,2022-03-19,83,1,Bright Box Theater,300,6,Sat,Yes,"39.1845126, -78.1662175",39.184513,-78.166218,16.0,16.0,10.9,22.0,0.792,0.0,33.2,63.9,1007.2,16.0,36.7,"Rain, Partially cloudy",Partly cloudy throughout the day with late afternoon rain.,1,Cool,4,Derrick Knopsnyder,Derrick Knopsnyder,10778612.0,0.007754,NaN,NaN,NaN,Others,4.0,3.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,10.0,0.0,0.0,NaN,NaN,NaN,No data,2.0
3,10037,Derrick Knopsnyder,18.0,2022-03-19,64,1,Bright Box Theater,300,6,Sat,Yes,"39.1845126, -78.1662175",39.184513,-78.166218,16.0,16.0,10.9,22.0,0.792,0.0,33.2,63.9,1007.2,16.0,36.7,"Rain, Partially cloudy",Partly cloudy throughout the day with late afternoon rain.,1,Cool,4,Derrick Knopsnyder,Derrick Knopsnyder,10778612.0,0.007754,NaN,NaN,NaN,Others,4.0,3.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,10.0,0.0,0.0,NaN,NaN,NaN,No data,2.0
4,10093,Kevin Lee,20.0,2022-07-16,90,1,Bright Box Theater,300,6,Sat,Yes,"39.1845126, -78.1662175",39.184513,-78.166218,20.9,21.0,16.0,27.0,5.628,0.0,12.6,84.0,1018.3,15.3,67.7,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,1,Ideal,3,Kevin Lee,Kevin Lee,11129312.0,17.369105,713906.0,NaN,NaN,hip-hop/rap,4.0,7510.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,10.0,0.0,0.0,NaN,NaN,NaN,No data,1.0

In [3]:
df.columns.tolist()

['Event code',
 'Artist',
 'Ticket price',
 'Date',
 'Tickets sold',
 'Solo or multiple',
 'Venue',
 'Capacity',
 'Day',
 'Days',
 'Weekend',
 'coordinates',
 'latitude',
 'longitude',
 'temperature',
 'feels_like_temp',
 'temp_min',
 'temp_max',
 'precipitation_mm',
 'snow_mm',
 'wind_speed',
 'humidity',
 'pressure',
 'visibility',
 'cloudiness',
 'weather_conditions',
 'weather_description',
 'bad_weather_flag',
 'temp_category',
 'weather_risk_score',
 'Artist_matched',
 'Artist.1',
 'artist_id',
 'cm_artist_score',
 'cm_artist_rank',
 'country',
 'record_label',
 'primary_genre',
 'spotify_followers',
 'spotify_monthly_listeners',
 'youtube_total_subscribers',
 'youtube_top_country',
 'tiktok_total_followers',
 'tiktok_top_country',
 'instagram_total_followers',
 'instagram_top_country',
 'instagram_engagement_rate',
 'albums_count',
 'tracks_count',
 'events_count',
 'riaa_awards_count',
 'avg_ticket_price',
 'min_ticket_price',
 'max_ticket_price',
 'Competitive_Value',
 'event']

In [4]:
df.shape          # rows, columns
df.info()         # column names + dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1869 entries, 0 to 1868
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Event code                 1869 non-null   int64
 1   Artist                     1869 non-null   object
 2   Ticket price               1869 non-null   float64
 3   Date                       1869 non-null   datetime64[ns]
 4   Tickets sold               1869 non-null   int64
 5   Solo or multiple           1869 non-null   int64
 6   Venue                      1869 non-null   object
 7   Capacity                   1869 non-null   int64
 8   Day                        1869 non-null   int64
 9   Days                       1869 non-null   object
 10  Weekend                    1869 non-null   object
 11  coordinates                1869 non-null   object
 12  latitude                   1869 non-null   float64
 13  longitude                  1869 non-null   float64
 14  temperature                1869 non-null   float64
 15  feels_like_temp            1869 non-null   float64
 16  temp_min                   1869 non-null   float64
 17  temp_max                   1869 non-null   float64
 18  precipitation_mm           1869 non-null   float64
 19  snow_mm                    1869 non-null   float64
 20  wind_speed                 1869 non-null   float64
 21  humidity                   1869 non-null   float64
 22  pressure                   1869 non-null   float64
 23  visibility                 1869 non-null   float64
 24  cloudiness                 1869 non-null   float64
 25  weather_conditions         1869 non-null   object
 26  weather_description        1869 non-null   object
 27  bad_weather_flag           1869 non-null   int64
 28  temp_category              1869 non-null   object
 29  weather_risk_score         1869 non-null   int64
 30  Artist_matched             1585 non-null   object
 31  Artist.1                   1585 non-null   object
 32  artist_id                  1585 non-null   float64
 33  cm_artist_score            1585 non-null   float64
 34  cm_artist_rank             1316 non-null   float64
 35  country                    1433 non-null   object
 36  record_label               1237 non-null   object
 37  primary_genre              1575 non-null   object
 38  spotify_followers          1548 non-null   float64
 39  spotify_monthly_listeners  1548 non-null   float64
 40  youtube_total_subscribers  1116 non-null   float64
 41  youtube_top_country        973 non-null    object
 42  tiktok_total_followers     1585 non-null   float64
 43  tiktok_top_country         783 non-null    object
 44  instagram_total_followers  1168 non-null   float64
 45  instagram_top_country      1149 non-null   object
 46  instagram_engagement_rate  1151 non-null   float64
 47  albums_count               1585 non-null   float64
 48  tracks_count               1582 non-null   float64
 49  events_count               1584 non-null   float64
 50  riaa_awards_count          1585 non-null   float64
 51  avg_ticket_price           896 non-null    float64
 52  min_ticket_price           896 non-null    float64
 53  max_ticket_price           896 non-null    float64
 54  Competitive_Value          1869 non-null   object
 55  event                      1516 non-null   float64
dtypes: datetime64[ns](1), float64(31), int64(7), object(17)
memory usage: 817.8+ KB

In [5]:
df["day_of_week"] = df["Date"].dt.weekday   # 0=Mon, 6=Sun
df["is_weekend"] = df["day_of_week"].isin([5, 6]).astype(int)

In [6]:
df["month"] = df["Date"].dt.month

In [7]:
features = [
    "Ticket price",
    "Capacity",
    "Solo or multiple",
    "latitude",
    "longitude",

    "day_of_week",
    "is_weekend",
    "month",

    # artist strength
    "cm_artist_score",
    "cm_artist_rank",
    "spotify_followers",
    "spotify_monthly_listeners",
    "youtube_total_subscribers",
    "tiktok_total_followers",
    "instagram_total_followers",
    "instagram_engagement_rate",
    "albums_count",
    "tracks_count",
    "events_count",
    "riaa_awards_count",

    # weather
    "temperature",
    "feels_like_temp",
    "precipitation_mm",
    "snow_mm",
    "wind_speed",
    "humidity",
    "bad_weather_flag",
    "weather_risk_score"
]

In [8]:
categorical = [
    "Artist",
    "Venue",
    "primary_genre",
    "record_label",
    "country"
]

In [9]:
df[["Date", "day_of_week", "is_weekend"]].head()

        Date  day_of_week  is_weekend
0 2021-10-29            4           0
1 2022-07-16            5           1
2 2022-03-19            5           1
3 2022-03-19            5           1
4 2022-07-16            5           1

In [10]:
df = df.drop(columns=["Days", "Day", "Weekend", "Date"])

In [11]:
df.groupby("is_weekend")["Tickets sold"].mean()

is_weekend
0    663.883072
1    511.881051
Name: Tickets sold, dtype: float64

In [12]:
df["sell_through"] = df["Tickets sold"] / df["Capacity"]

df.groupby("is_weekend")["sell_through"].mean()

is_weekend
0    0.657943
1    0.556883
Name: sell_through, dtype: float64

In [13]:
df.groupby("is_weekend")["Ticket price"].mean()

is_weekend
0    31.239224
1    27.720020
Name: Ticket price, dtype: float64

In [14]:
df["price_capacity_ratio"] = df["Ticket price"] / df["Capacity"]

In [15]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor

In [16]:
print(df.columns)

Index(['Event code', 'Artist', 'Ticket price', 'Tickets sold',
       'Solo or multiple', 'Venue', 'Capacity', 'coordinates', 'latitude',
       'longitude', 'temperature', 'feels_like_temp', 'temp_min', 'temp_max',
       'precipitation_mm', 'snow_mm', 'wind_speed', 'humidity', 'pressure',
       'visibility', 'cloudiness', 'weather_conditions', 'weather_description',
       'bad_weather_flag', 'temp_category', 'weather_risk_score',
       'Artist_matched', 'Artist.1', 'artist_id', 'cm_artist_score',
       'cm_artist_rank', 'country', 'record_label', 'primary_genre',
       'spotify_followers', 'spotify_monthly_listeners',
       'youtube_total_subscribers', 'youtube_top_country',
       'tiktok_total_followers', 'tiktok_top_country',
       'instagram_total_followers', 'instagram_top_country',
       'instagram_engagement_rate', 'albums_count', 'tracks_count',
       'events_count', 'riaa_awards_count', 'avg_ticket_price',
       'min_ticket_price', 'max_ticket_price', 'Competitive_Value', 'event',
       'day_of_week', 'is_weekend', 'month', 'sell_through',
       'price_capacity_ratio'],
      dtype='object')

In [17]:
df["Competitive_Value"].value_counts().head()
df["Competitive_Value"].dtype

dtype('O')

In [18]:
df["Competitive_Value"] = pd.to_numeric(df["Competitive_Value"], errors="coerce")

In [19]:
df["Competitive_Value"] = pd.to_numeric(
    df["Competitive_Value"],
    errors="coerce"
)

In [20]:
df["Competitive_Value"].dtype

dtype('float64')

In [21]:
print(df["Competitive_Value"].dtype)

float64

In [22]:
print(df["Competitive_Value"].dtype)
print(df["Competitive_Value"].isna().sum())
df["Competitive_Value"].describe()

float64
709

count    1160.000000
mean        8.459483
std         7.051890
min         0.000000
25%         2.000000
50%         8.000000
75%        14.000000
max        28.000000
Name: Competitive_Value, dtype: float64

In [23]:
df["Competitive_Value"] = df["Competitive_Value"].fillna(0)

print(df["Competitive_Value"].isna().sum())
df["Competitive_Value"].describe()

0

count    1869.000000
mean        5.250401
std         6.907418
min         0.000000
25%         0.000000
50%         1.000000
75%        10.000000
max        28.000000
Name: Competitive_Value, dtype: float64

In [24]:
# target
y = df["Tickets sold"]

# numeric features
num_features = [
    "Ticket price",
    "Capacity",
    "Solo or multiple",
    "Competitive_Value",

    "latitude",
    "longitude",
    "day_of_week",
    "is_weekend",
    "month",
    "price_capacity_ratio",

    "cm_artist_score",
    "cm_artist_rank",
    "spotify_followers",
    "spotify_monthly_listeners",
    "youtube_total_subscribers",
    "tiktok_total_followers",
    "instagram_total_followers",
    "instagram_engagement_rate",
    "albums_count",
    "tracks_count",
    "events_count",
    "riaa_awards_count",

    "temperature",
    "feels_like_temp",
    "precipitation_mm",
    "snow_mm",
    "wind_speed",
    "humidity",
    "bad_weather_flag",
    "weather_risk_score"
]

# categorical features
cat_features = [
    "Artist",
    "Venue",
    "primary_genre",
    "record_label",
    "country",
    "youtube_top_country",
    "tiktok_top_country",
    "instagram_top_country"
]

# build modeling dataframe
X = df[num_features + cat_features]

print(X.shape)
print(X.isna().sum().sort_values(ascending=False).head(10))

(1869, 38)
tiktok_top_country           1086
youtube_top_country           896
youtube_total_subscribers     753
instagram_top_country         720
instagram_engagement_rate     718
instagram_total_followers     701
record_label                  632
cm_artist_rank                553
country                       436
spotify_followers             321
dtype: int64

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print(X_train.shape, X_test.shape)

(1495, 38) (374, 38)

In [26]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingRegressor

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_features),
        ("num", "passthrough", num_features)
    ]
)

model = GradientBoostingRegressor(
    n_estimators=300,
    learning_rate=0.05,
    max_depth=4,
    random_state=42
)

pipe = Pipeline([
    ("prep", preprocessor),
    ("model", model)
])

print(pipe)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Artist', 'Venue',
                                                   'primary_genre',
                                                   'record_label', 'country',
                                                   'youtube_top_country',
                                                   'tiktok_top_country',
                                                   'instagram_top_country']),
                                                 ('num', 'passthrough',
                                                  ['Ticket price', 'Capacity',
                                                   'Solo or multiple',
                                                   'Competitive_Value',
                                                   'latitude', 'longitude',
                                                   'day_of_week'...
                                                   'instagram_total_followers',
                                                   'instagram_engagement_rate',
                                                   'albums_count',
                                                   'tracks_count',
                                                   'events_count',
                                                   'riaa_awards_count',
                                                   'temperature',
                                                   'feels_like_temp',
                                                   'precipitation_mm',
                                                   'snow_mm', 'wind_speed',
                                                   'humidity',
                                                   'bad_weather_flag',
                                                   'weather_risk_score'])])),
                ('model',
                 GradientBoostingRegressor(learning_rate=0.05, max_depth=4,
                                           n_estimators=300,
                                           random_state=42))])

In [27]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy="median")

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_features),
        ("num", num_imputer, num_features)
    ]
)

model = GradientBoostingRegressor(
    n_estimators=300,
    learning_rate=0.05,
    max_depth=4,
    random_state=42
)

pipe = Pipeline([
    ("prep", preprocessor),
    ("model", model)
])

print("Pipeline rebuilt with imputation")

Pipeline rebuilt with imputation

In [28]:
pipe.fit(X_train, y_train)
print("Model trained successfully")

Model trained successfully

In [29]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

preds = pipe.predict(X_test)

mae = mean_absolute_error(y_test, preds)
rmse = mean_squared_error(y_test, preds, squared=False)

print("MAE:", round(mae, 2))
print("RMSE:", round(rmse, 2))

MAE: 159.8
RMSE: 290.23

/Users/viks/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [30]:
df["Tickets sold"].describe()

count    1869.000000
mean      605.082932
std       551.424647
min         0.000000
25%        79.000000
50%       550.000000
75%      1093.000000
max      4800.000000
Name: Tickets sold, dtype: float64

In [31]:
venue_stats = (
    df
    .groupby("Venue")["Tickets sold"]
    .agg(
        count="count",
        mean="mean",
        median="median",
        std="std",
        min="min",
        p25=lambda x: x.quantile(0.25),
        p75=lambda x: x.quantile(0.75),
        max="max"
    )
    .sort_values("mean", ascending=False)
)

venue_stats.head(10)

,count,mean,median,std,min,p25,p75,max
Venue,,,,,,,,
9:30 Club,945,983.161905,1073.0,466.272798,46,655.0,1200.00,4800
Carolina Theatre,188,771.632979,759.0,275.488382,187,615.0,912.75,2965
Millwald Theatre,49,136.000000,116.0,124.658366,0,0.0,203.00,485
Bright Box Theater,384,94.359375,81.5,64.141334,1,48.0,120.00,313
The Spot on Kirk,303,45.699670,41.0,25.721745,0,27.0,57.00,132

In [32]:
venue_stats = (
    df
    .groupby("Venue")
    .agg(
        events_count=("Tickets sold", "count"),
        avg_capacity=("Capacity", "mean"),
        median_capacity=("Capacity", "median"),

        avg_tickets_sold=("Tickets sold", "mean"),
        median_tickets_sold=("Tickets sold", "median"),
        std_tickets_sold=("Tickets sold", "std"),
        min_tickets_sold=("Tickets sold", "min"),
        p25_tickets_sold=("Tickets sold", lambda x: x.quantile(0.25)),
        p75_tickets_sold=("Tickets sold", lambda x: x.quantile(0.75)),
        max_tickets_sold=("Tickets sold", "max"),
    )
    .sort_values("avg_tickets_sold", ascending=False)
)

venue_stats

,events_count,avg_capacity,median_capacity,avg_tickets_sold,median_tickets_sold,std_tickets_sold,min_tickets_sold,p25_tickets_sold,p75_tickets_sold,max_tickets_sold
Venue,,,,,,,,,,
9:30 Club,945,1200.0,1200.0,983.161905,1073.0,466.272798,46,655.0,1200.00,4800
Carolina Theatre,188,1055.0,1055.0,771.632979,759.0,275.488382,187,615.0,912.75,2965
Millwald Theatre,49,500.0,500.0,136.000000,116.0,124.658366,0,0.0,203.00,485
Bright Box Theater,384,300.0,300.0,94.359375,81.5,64.141334,1,48.0,120.00,313
The Spot on Kirk,303,125.0,125.0,45.699670,41.0,25.721745,0,27.0,57.00,132

In [33]:
import optuna
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import GradientBoostingRegressor

In [34]:
def objective(trial):

    model = GradientBoostingRegressor(
        n_estimators=trial.suggest_int("n_estimators", 100, 600),
        learning_rate=trial.suggest_float("learning_rate", 0.01, 0.2, log=True),
        max_depth=trial.suggest_int("max_depth", 2, 6),
        min_samples_split=trial.suggest_int("min_samples_split", 2, 20),
        min_samples_leaf=trial.suggest_int("min_samples_leaf", 1, 20),
        random_state=42
    )

    pipe = Pipeline([
        ("prep", preprocessor),   # same preprocessor you already built
        ("model", model)
    ])

    pipe.fit(X_train, y_train)
    preds = pipe.predict(X_test)

    return mean_absolute_error(y_test, preds)

In [35]:
study = optuna.create_study(direction="minimize")
study.optimize(objective, n_trials=30)

print("Best MAE:", study.best_value)
print("Best params:", study.best_params)

[I 2025-12-15 02:42:47,806] A new study created in memory with name: no-name-6dc9d94c-4e4d-4998-90a9-3aeef0115ef1
[I 2025-12-15 02:42:50,639] Trial 0 finished with value: 160.16489354086278 and parameters: {'n_estimators': 272, 'learning_rate': 0.026153155587096282, 'max_depth': 4, 'min_samples_split': 20, 'min_samples_leaf': 10}. Best is trial 0 with value: 160.16489354086278.
[I 2025-12-15 02:42:56,652] Trial 1 finished with value: 165.16490614876588 and parameters: {'n_estimators': 467, 'learning_rate': 0.02808059836951778, 'max_depth': 5, 'min_samples_split': 7, 'min_samples_leaf': 9}. Best is trial 0 with value: 160.16489354086278.
[I 2025-12-15 02:42:58,767] Trial 2 finished with value: 174.1083129933544 and parameters: {'n_estimators': 280, 'learning_rate': 0.12510948632016775, 'max_depth': 3, 'min_samples_split': 17, 'min_samples_leaf': 16}. Best is trial 0 with value: 160.16489354086278.
[I 2025-12-15 02:43:00,146] Trial 3 finished with value: 157.62347785028152 and parameters: {'n_estimators': 178, 'learning_rate': 0.022083025290619354, 'max_depth': 3, 'min_samples_split': 14, 'min_samples_leaf': 20}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:02,195] Trial 4 finished with value: 160.1017142888807 and parameters: {'n_estimators': 431, 'learning_rate': 0.04324710789228334, 'max_depth': 2, 'min_samples_split': 19, 'min_samples_leaf': 8}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:06,546] Trial 5 finished with value: 170.34312953668837 and parameters: {'n_estimators': 355, 'learning_rate': 0.08598253269503961, 'max_depth': 5, 'min_samples_split': 16, 'min_samples_leaf': 4}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:12,979] Trial 6 finished with value: 159.88165475790606 and parameters: {'n_estimators': 515, 'learning_rate': 0.012167268087396968, 'max_depth': 5, 'min_samples_split': 18, 'min_samples_leaf': 2}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:16,082] Trial 7 finished with value: 159.44774081806185 and parameters: {'n_estimators': 267, 'learning_rate': 0.18059568035003623, 'max_depth': 5, 'min_samples_split': 9, 'min_samples_leaf': 1}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:21,239] Trial 8 finished with value: 174.46321115510693 and parameters: {'n_estimators': 417, 'learning_rate': 0.09222339511886594, 'max_depth': 5, 'min_samples_split': 10, 'min_samples_leaf': 6}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:27,320] Trial 9 finished with value: 164.09065219209717 and parameters: {'n_estimators': 385, 'learning_rate': 0.013479323626055726, 'max_depth': 6, 'min_samples_split': 13, 'min_samples_leaf': 5}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:27,978] Trial 10 finished with value: 181.33018452101678 and parameters: {'n_estimators': 113, 'learning_rate': 0.018950840732659225, 'max_depth': 2, 'min_samples_split': 2, 'min_samples_leaf': 20}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:28,998] Trial 11 finished with value: 170.25172691631496 and parameters: {'n_estimators': 129, 'learning_rate': 0.19267994970441024, 'max_depth': 3, 'min_samples_split': 9, 'min_samples_leaf': 15}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:31,387] Trial 12 finished with value: 162.6102758073458 and parameters: {'n_estimators': 227, 'learning_rate': 0.04939602730729248, 'max_depth': 4, 'min_samples_split': 13, 'min_samples_leaf': 14}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:32,867] Trial 13 finished with value: 159.15841465062084 and parameters: {'n_estimators': 189, 'learning_rate': 0.0511099839679166, 'max_depth': 3, 'min_samples_split': 6, 'min_samples_leaf': 20}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:34,291] Trial 14 finished with value: 158.31294847060875 and parameters: {'n_estimators': 179, 'learning_rate': 0.05654893731599507, 'max_depth': 3, 'min_samples_split': 4, 'min_samples_leaf': 20}. Best is trial 3 with value: 157.62347785028152.
[I 2025-12-15 02:43:35,517] Trial 15 finished with value: 156.66187884496176 and parameters: {'n_estimators': 159, 'learning_rate': 0.03061088506554855, 'max_depth': 3, 'min_samples_split': 2, 'min_samples_leaf': 17}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:36,347] Trial 16 finished with value: 159.82319417945925 and parameters: {'n_estimators': 159, 'learning_rate': 0.02528450049338749, 'max_depth': 2, 'min_samples_split': 14, 'min_samples_leaf': 17}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:39,408] Trial 17 finished with value: 157.44288892509127 and parameters: {'n_estimators': 299, 'learning_rate': 0.017220792192713986, 'max_depth': 4, 'min_samples_split': 15, 'min_samples_leaf': 13}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:42,622] Trial 18 finished with value: 158.11016990762283 and parameters: {'n_estimators': 314, 'learning_rate': 0.017991550272425452, 'max_depth': 4, 'min_samples_split': 2, 'min_samples_leaf': 13}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:48,208] Trial 19 finished with value: 165.11877889861196 and parameters: {'n_estimators': 573, 'learning_rate': 0.0330284566828481, 'max_depth': 4, 'min_samples_split': 12, 'min_samples_leaf': 12}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:51,807] Trial 20 finished with value: 171.23721658035538 and parameters: {'n_estimators': 234, 'learning_rate': 0.010336715129670477, 'max_depth': 6, 'min_samples_split': 16, 'min_samples_leaf': 17}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:53,369] Trial 21 finished with value: 157.57461449168372 and parameters: {'n_estimators': 205, 'learning_rate': 0.018938602001877552, 'max_depth': 3, 'min_samples_split': 15, 'min_samples_leaf': 18}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:55,080] Trial 22 finished with value: 159.05805366943133 and parameters: {'n_estimators': 222, 'learning_rate': 0.015878696170529366, 'max_depth': 3, 'min_samples_split': 15, 'min_samples_leaf': 18}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:58,312] Trial 23 finished with value: 164.63568457221876 and parameters: {'n_estimators': 323, 'learning_rate': 0.03885170498997477, 'max_depth': 4, 'min_samples_split': 11, 'min_samples_leaf': 12}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:43:58,865] Trial 24 finished with value: 179.2549154049662 and parameters: {'n_estimators': 109, 'learning_rate': 0.020281102854328825, 'max_depth': 2, 'min_samples_split': 7, 'min_samples_leaf': 18}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:44:00,491] Trial 25 finished with value: 158.4140389470815 and parameters: {'n_estimators': 212, 'learning_rate': 0.0152920015513165, 'max_depth': 3, 'min_samples_split': 17, 'min_samples_leaf': 15}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:44:01,920] Trial 26 finished with value: 159.8212808407225 and parameters: {'n_estimators': 139, 'learning_rate': 0.03252272970649852, 'max_depth': 4, 'min_samples_split': 4, 'min_samples_leaf': 18}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:44:04,174] Trial 27 finished with value: 165.45468622688804 and parameters: {'n_estimators': 306, 'learning_rate': 0.07237016370389404, 'max_depth': 3, 'min_samples_split': 15, 'min_samples_leaf': 12}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:44:05,438] Trial 28 finished with value: 166.472722216479 and parameters: {'n_estimators': 250, 'learning_rate': 0.011168064147643, 'max_depth': 2, 'min_samples_split': 11, 'min_samples_leaf': 14}. Best is trial 15 with value: 156.66187884496176.
[I 2025-12-15 02:44:08,756] Trial 29 finished with value: 159.85054600221008 and parameters: {'n_estimators': 282, 'learning_rate': 0.02717946322537956, 'max_depth': 4, 'min_samples_split': 20, 'min_samples_leaf': 10}. Best is trial 15 with value: 156.66187884496176.

Best MAE: 156.66187884496176
Best params: {'n_estimators': 159, 'learning_rate': 0.03061088506554855, 'max_depth': 3, 'min_samples_split': 2, 'min_samples_leaf': 17}

In [36]:
best_model = GradientBoostingRegressor(
    **study.best_params,
    random_state=42
)

final_pipe = Pipeline([
    ("prep", preprocessor),
    ("model", best_model)
])

final_pipe.fit(X_train, y_train)

preds = final_pipe.predict(X_test)

print("Final MAE:", mean_absolute_error(y_test, preds))
print("Final RMSE:", mean_squared_error(y_test, preds, squared=False))

Final MAE: 156.66187884496176
Final RMSE: 285.21390220673743

/Users/viks/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [37]:
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [38]:
preprocessor_hgb = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_features),
        ("num", "passthrough", num_features)
    ]
)

In [39]:
hgb_model = HistGradientBoostingRegressor(
    max_depth=6,
    learning_rate=0.05,
    max_iter=300,
    random_state=42
)

In [40]:
hgb_pipe = Pipeline([
    ("prep", preprocessor_hgb),
    ("model", hgb_model)
])

In [41]:
from sklearn.preprocessing import FunctionTransformer

In [42]:
preprocessor_hgb = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_features),
        ("num", "passthrough", num_features)
    ]
)

to_dense = FunctionTransformer(
    lambda x: x.toarray(),
    accept_sparse=True
)

hgb_model = HistGradientBoostingRegressor(
    max_depth=6,
    learning_rate=0.05,
    max_iter=300,
    random_state=42
)

hgb_pipe = Pipeline([
    ("prep", preprocessor_hgb),
    ("dense", to_dense),
    ("model", hgb_model)
])

In [43]:
hgb_pipe.fit(X_train, y_train)
print("HGB model trained successfully")

HGB model trained successfully

In [44]:
hgb_preds = hgb_pipe.predict(X_test)

print("HGB MAE:", round(mean_absolute_error(y_test, hgb_preds), 2))
print("HGB RMSE:", round(mean_squared_error(y_test, hgb_preds, squared=False), 2))

HGB MAE: 172.27
HGB RMSE: 299.39

/Users/viks/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [45]:
import numpy as np

y_train_log = np.log1p(y_train)
y_test_log = np.log1p(y_test)

In [46]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline

log_model = GradientBoostingRegressor(
    n_estimators=217,
    learning_rate=0.03431597753724736,
    max_depth=3,
    min_samples_split=18,
    min_samples_leaf=9,
    random_state=42
)

log_pipe = Pipeline([
    ("prep", preprocessor),   # same preprocessor you already have
    ("model", log_model)
])

In [47]:
log_pipe.fit(X_train, y_train_log)
print("Log-target model trained")

Log-target model trained

In [48]:
log_preds = log_pipe.predict(X_test)
preds = np.expm1(log_preds)

In [49]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

print("Log MAE:", round(mean_absolute_error(y_test, preds), 2))
print("Log RMSE:", round(mean_squared_error(y_test, preds, squared=False), 2))

Log MAE: 156.79
Log RMSE: 286.68

/Users/viks/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [50]:
import pandas as pd

# raw feature importances
feature_names = pipe.named_steps["prep"].get_feature_names_out()
importances = pipe.named_steps["model"].feature_importances_

fi = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
})

# collapse one-hot encoded features
def simplify_feature(name):
    if name.startswith("cat__"):
        return name.split("_", 1)[0].replace("cat__", "")
    if name.startswith("num__"):
        return name.replace("num__", "")
    return name

fi["base_feature"] = fi["feature"].apply(simplify_feature)

# aggregate
agg_fi = (
    fi.groupby("base_feature")["importance"]
      .sum()
      .sort_values(ascending=False)
)

agg_fi.head(10)

base_feature
Capacity                     0.635547
cat                          0.202588
spotify_followers            0.071353
instagram_engagement_rate    0.013500
Ticket price                 0.009643
instagram_total_followers    0.008933
feels_like_temp              0.007767
spotify_monthly_listeners    0.006614
longitude                    0.006093
cm_artist_score              0.005763
Name: importance, dtype: float64

In [51]:
import pandas as pd

feature_names = pipe.named_steps["prep"].get_feature_names_out()
importances = pipe.named_steps["model"].feature_importances_

fi = pd.DataFrame({
    "feature": feature_names,
    "importance": importances
})

def extract_base_feature(name):
    if name.startswith("num__"):
        return name.replace("num__", "")
    if name.startswith("cat__"):
        # cat__Artist_The Walkmen  Artist
        return name.replace("cat__", "").split("_")[0]
    return name

fi["base_feature"] = fi["feature"].apply(extract_base_feature)

agg_fi = (
    fi.groupby("base_feature")["importance"]
      .sum()
      .sort_values(ascending=False)
)

agg_fi.head(10)

base_feature
Capacity                     0.635547
Artist                       0.115675
spotify_followers            0.071353
record                       0.058585
instagram_engagement_rate    0.013500
primary                      0.011666
Venue                        0.010698
Ticket price                 0.009643
instagram_total_followers    0.008933
feels_like_temp              0.007767
Name: importance, dtype: float64

In [52]:
future_event = pd.read_excel('future event.xlsx')

In [53]:
future_event.head()

,Event code,Artist,Ticket Price,Date,Tickets sold,Solo or Multiple
0,20135,Kathy Mattea,30,2025-11-02,NaN,1
1,20136,John Caparulo,45,2025-11-08,NaN,1
2,20137,Jason Crabb,$ -,2025-11-30,NaN,1
3,20138,Preacher Lawson,40,2025-12-11,NaN,2
4,20138,The Wizards of Winter,55,2025-12-13,NaN,1

In [54]:
import pandas as pd

future_event = pd.read_excel("future event.xlsx")
chartmetric = pd.read_excel("All_Artists_Chartmetric_Snapshot111.xlsx")

In [55]:
print(future_event.shape)
print(chartmetric.shape)

future_event.head()

(31, 6)
(29, 23)

,Event code,Artist,Ticket Price,Date,Tickets sold,Solo or Multiple
0,20135,Kathy Mattea,30,2025-11-02,NaN,1
1,20136,John Caparulo,45,2025-11-08,NaN,1
2,20137,Jason Crabb,$ -,2025-11-30,NaN,1
3,20138,Preacher Lawson,40,2025-12-11,NaN,2
4,20138,The Wizards of Winter,55,2025-12-13,NaN,1

In [56]:
print(future_event.columns)
print(chartmetric.columns)

Index(['Event code', 'Artist', 'Ticket Price', 'Date', 'Tickets sold',
       'Solo or Multiple'],
      dtype='object')
Index(['artist_name', 'artist_id', 'cm_artist_score', 'cm_artist_rank',
       'country', 'record_label', 'primary_genre', 'spotify_followers',
       'spotify_monthly_listeners', 'youtube_total_subscribers',
       'youtube_top_country', 'tiktok_total_followers', 'tiktok_top_country',
       'instagram_total_followers', 'instagram_top_country',
       'instagram_engagement_rate', 'albums_count', 'tracks_count',
       'events_count', 'riaa_awards_count', 'avg_ticket_price',
       'min_ticket_price', 'max_ticket_price'],
      dtype='object')

In [58]:
future_artists = set(future_event["Artist"].dropna().str.strip().unique())
chartmetric_artists = set(chartmetric["artist_name"].dropna().str.strip().unique())

print("Unique artists in future_event:", len(future_artists))
print("Unique artists in chartmetric:", len(chartmetric_artists))

Unique artists in future_event: 31
Unique artists in chartmetric: 29

In [59]:
common_artists = future_artists.intersection(chartmetric_artists)
missing_artists = future_artists - chartmetric_artists

print("Artists present in BOTH:", len(common_artists))
print("Artists MISSING in chartmetric:", len(missing_artists))

print("\nMissing artists list:")
for a in missing_artists:
    print(a)

Artists present in BOTH: 29
Artists MISSING in chartmetric: 2

Missing artists list:
Maiden & Crow
The Robby Limon Band

In [60]:
future_event["Ticket Price"] = (
    future_event["Ticket Price"]
    .replace("$ -", None)
    .astype(float)
)

In [61]:
future_event = future_event.merge(
    chartmetric,
    left_on="Artist",
    right_on="artist_name",
    how="left"
)

In [62]:
future_event[["Artist", "cm_artist_score"]].head(10)

                  Artist  cm_artist_score
0           Kathy Mattea        77.873018
1          John Caparulo        54.857381
2            Jason Crabb        64.780774
3        Preacher Lawson        71.233110
4  The Wizards of Winter        17.680116
5           The Drifters        92.957294
6      Dead Billionaires        11.374720
7     Magnolia Boulevard        21.185503
8           Jack Blocker        44.791566
9   The Robby Limon Band              NaN

In [63]:
artist_fallback = chartmetric.median(numeric_only=True)

num_cols = artist_fallback.index.tolist()

future_event[num_cols] = future_event[num_cols].fillna(artist_fallback)

In [64]:
future_event["Date"] = pd.to_datetime(future_event["Date"])
future_event["day_of_week"] = future_event["Date"].dt.weekday
future_event["is_weekend"] = future_event["day_of_week"].isin([5, 6]).astype(int)
future_event["month"] = future_event["Date"].dt.month

In [67]:
future_event.columns

Index(['Event code', 'Artist', 'Ticket Price', 'Date', 'Tickets sold',
       'Solo or Multiple', 'artist_name', 'artist_id', 'cm_artist_score',
       'cm_artist_rank', 'country', 'record_label', 'primary_genre',
       'spotify_followers', 'spotify_monthly_listeners',
       'youtube_total_subscribers', 'youtube_top_country',
       'tiktok_total_followers', 'tiktok_top_country',
       'instagram_total_followers', 'instagram_top_country',
       'instagram_engagement_rate', 'albums_count', 'tracks_count',
       'events_count', 'riaa_awards_count', 'avg_ticket_price',
       'min_ticket_price', 'max_ticket_price', 'day_of_week', 'is_weekend',
       'month'],
      dtype='object')

In [68]:
future_event = future_event.rename(columns={
    "Ticket Price": "Ticket price",
    "Solo or Multiple": "Solo or multiple"
})

In [69]:
train_medians = df[num_features].median()

for col in num_features:
    if col not in future_event.columns:
        future_event[col] = train_medians[col]

In [70]:
for col in cat_features:
    if col not in future_event.columns:
        future_event[col] = "Unknown"

In [71]:
X_future = future_event[num_features + cat_features]
print(X_future.shape)

(31, 38)

In [72]:
future_event["predicted_tickets_sold"] = pipe.predict(X_future)

In [73]:
future_event[
    ["Event code", "Artist", "Ticket price", "Date", "predicted_tickets_sold"]
].sort_values("predicted_tickets_sold", ascending=False)

,Event code,Artist,Ticket price,Date,predicted_tickets_sold
5,20138,The Drifters,55.00,2025-12-20,1009.918467
17,304565,Earth,28.52,2025-11-12,916.967659
3,20138,Preacher Lawson,40.00,2025-12-11,827.397872
11,10530,Keith Harkin,50.00,2025-12-09,793.263866
0,20135,Kathy Mattea,30.00,2025-11-02,781.495979
1,20136,John Caparulo,45.00,2025-11-08,714.816719
4,20138,The Wizards of Winter,55.00,2025-12-13,714.366230
2,20137,Jason Crabb,NaN,2025-11-30,697.349116
9,10527,The Robby Limon Band,25.00,2025-11-26,681.298363
16,304564,Mama's Broke,23.18,2025-11-11,679.042485
14,304562,Sinister Feeling,22.50,2025-11-08,675.841999
29,304577,Spencer LaJoye,23.18,2025-12-11,675.841999
27,304575,Crys Matthews,23.18,2025-12-05,675.841999
15,304563,Clive Carroll,23.18,2025-11-09,675.841999
18,304566,Will Overman,17.85,2025-11-13,671.310372
10,10529,The Local Honeys,22.52,2025-12-05,664.721314
30,304578,Gangstagrass,23.18,2025-12-12,661.952171
19,304567,Ric Robertson,17.85,2025-11-15,647.825999
23,304571,Water Culture,14.64,2025-11-21,646.539409
6,10524,Dead Billionaires,18.30,2025-11-13,646.539409
28,304576,Ramona & The Holy Smokes,14.64,2025-12-06,646.539409
7,10525,Magnolia Boulevard,18.30,2025-11-14,646.539409
25,304573,Maiden & Crow,17.85,2025-11-29,646.539409
22,304570,Session Americana,17.85,2025-11-20,646.539409
21,304569,Paper Wings,21.05,2025-11-19,646.539409
12,304560,Mariee Sioux,23.18,2025-11-06,645.200921
20,304568,Pierre Bensusan,28.52,2025-11-16,635.581609
26,304574,Lilly Hiatt,23.18,2025-12-03,630.125245
13,304561,Gumm,22.50,2025-11-07,630.125245
8,10526,Jack Blocker,19.30,2025-11-15,625.593618
24,304572,Deaf Andrews,14.64,2025-11-22,600.822655

In [74]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error

# =========================
# 1. FIX COLUMN NAMES
# =========================
future_event = future_event.rename(columns={
    "Ticket Price": "Ticket price",
    "Solo or Multiple": "Solo or multiple"
})

# =========================
# 2. HANDLE BAD PRICE VALUE
# =========================
future_event["Ticket price"] = (
    future_event["Ticket price"]
    .replace("$ -", np.nan)
    .astype(float)
)

# =========================
# 3. FEATURE ENGINEERING (DATE)
# =========================
future_event["Date"] = pd.to_datetime(future_event["Date"])
future_event["day_of_week"] = future_event["Date"].dt.weekday
future_event["is_weekend"] = future_event["day_of_week"].isin([5, 6]).astype(int)
future_event["month"] = future_event["Date"].dt.month

# =========================
# 4. DEFAULT MISSING FEATURES USING TRAIN DATA
# =========================
train_medians = df[num_features].median()

for col in num_features:
    if col not in future_event.columns:
        future_event[col] = train_medians[col]

for col in cat_features:
    if col not in future_event.columns:
        future_event[col] = "Unknown"

# =========================
# 5. BUILD FUTURE FEATURE MATRIX
# =========================
X_future = future_event[num_features + cat_features]

# =========================
# 6. BASE PREDICTION
# =========================
future_event["predicted_tickets_sold"] = pipe.predict(X_future)

# =========================
# 7. CONFIDENCE BANDS (USING RESIDUALS)
# =========================
test_preds = pipe.predict(X_test)
residuals = y_test - test_preds
residual_std = residuals.std()

future_event["pred_low"] = (
    future_event["predicted_tickets_sold"] - residual_std
).clip(lower=0)

future_event["pred_high"] = (
    future_event["predicted_tickets_sold"] + residual_std
)

# =========================
# 8. PRICE SIMULATION (10%, BASE, +10%)
# =========================
price_multipliers = [0.9, 1.0, 1.1]
sim_results = []

for m in price_multipliers:
    temp = future_event.copy()
    temp["Ticket price"] = temp["Ticket price"] * m

    X_temp = temp[num_features + cat_features]
    temp["scenario"] = f"{int((m - 1) * 100)}%"
    temp["sim_price"] = temp["Ticket price"]
    temp["sim_tickets"] = pipe.predict(X_temp)
    temp["sim_revenue"] = temp["sim_price"] * temp["sim_tickets"]

    sim_results.append(temp)

price_simulation = pd.concat(sim_results, ignore_index=True)

# =========================
# 9. RISK FLAGGING
# =========================
future_event["risk_flag"] = (
    (future_event["pred_high"] - future_event["pred_low"] > residual_std) |
    (future_event["Competitive_Value"] > df["Competitive_Value"].quantile(0.75)) |
    (future_event["predicted_tickets_sold"] < train_medians["Capacity"] * 0.4)
)

# =========================
# 10. FINAL OUTPUTS
# =========================

# Main prediction table
final_predictions = future_event[
    [
        "Event code",
        "Artist",
        "Ticket price",
        "Date",
        "predicted_tickets_sold",
        "pred_low",
        "pred_high",
        "risk_flag"
    ]
].sort_values("predicted_tickets_sold", ascending=False)

# Price simulation table
price_simulation_view = price_simulation[
    [
        "Event code",
        "Artist",
        "scenario",
        "sim_price",
        "sim_tickets",
        "sim_revenue"
    ]
].sort_values(["Artist", "scenario"])

final_predictions, price_simulation_view

(    Event code                    Artist  Ticket price       Date  \
 5        20138              The Drifters         55.00 2025-12-20
 17      304565                     Earth         28.52 2025-11-12
 3        20138           Preacher Lawson         40.00 2025-12-11
 11       10530              Keith Harkin         50.00 2025-12-09
 0        20135              Kathy Mattea         30.00 2025-11-02
 1        20136             John Caparulo         45.00 2025-11-08
 4        20138     The Wizards of Winter         55.00 2025-12-13
 2        20137               Jason Crabb           NaN 2025-11-30
 9        10527      The Robby Limon Band         25.00 2025-11-26
 16      304564              Mama's Broke         23.18 2025-11-11
 14      304562          Sinister Feeling         22.50 2025-11-08
 29      304577            Spencer LaJoye         23.18 2025-12-11
 27      304575             Crys Matthews         23.18 2025-12-05
 15      304563             Clive Carroll         23.18 2025-11-09
 18      304566              Will Overman         17.85 2025-11-13
 10       10529          The Local Honeys         22.52 2025-12-05
 30      304578              Gangstagrass         23.18 2025-12-12
 19      304567             Ric Robertson         17.85 2025-11-15
 23      304571             Water Culture         14.64 2025-11-21
 6        10524         Dead Billionaires         18.30 2025-11-13
 28      304576  Ramona & The Holy Smokes         14.64 2025-12-06
 7        10525        Magnolia Boulevard         18.30 2025-11-14
 25      304573             Maiden & Crow         17.85 2025-11-29
 22      304570         Session Americana         17.85 2025-11-20
 21      304569               Paper Wings         21.05 2025-11-19
 12      304560              Mariee Sioux         23.18 2025-11-06
 20      304568           Pierre Bensusan         28.52 2025-11-16
 26      304574               Lilly Hiatt         23.18 2025-12-03
 13      304561                      Gumm         22.50 2025-11-07
 8        10526              Jack Blocker         19.30 2025-11-15
 24      304572              Deaf Andrews         14.64 2025-11-22

     predicted_tickets_sold    pred_low    pred_high  risk_flag
 5              1009.918467  719.359359  1300.477575       True
 17              916.967659  626.408551  1207.526767       True
 3               827.397872  536.838764  1117.956980       True
 11              793.263866  502.704758  1083.822974       True
 0               781.495979  490.936871  1072.055087       True
 1               714.816719  424.257611  1005.375827       True
 4               714.366230  423.807122  1004.925338       True
 2               697.349116  406.790008   987.908224       True
 9               681.298363  390.739255   971.857471       True
 16              679.042485  388.483377   969.601593       True
 14              675.841999  385.282891   966.401107       True
 29              675.841999  385.282891   966.401107       True
 27              675.841999  385.282891   966.401107       True
 15              675.841999  385.282891   966.401107       True
 18              671.310372  380.751264   961.869480       True
 10              664.721314  374.162206   955.280422       True
 30              661.952171  371.393063   952.511279       True
 19              647.825999  357.266891   938.385107       True
 23              646.539409  355.980301   937.098517       True
 6               646.539409  355.980301   937.098517       True
 28              646.539409  355.980301   937.098517       True
 7               646.539409  355.980301   937.098517       True
 25              646.539409  355.980301   937.098517       True
 22              646.539409  355.980301   937.098517       True
 21              646.539409  355.980301   937.098517       True
 12              645.200921  354.641813   935.760029       True
 20              635.581609  345.022501   926.140717       True
 26              630.125245  339.566137   920.684353       True
 13              630.125245  339.566137   920.684353       True
 8               625.593618  335.034510   916.152726       True
 24              600.822655  310.263547   891.381763       True  ,
     Event code         Artist scenario  sim_price  sim_tickets   sim_revenue
 15      304563  Clive Carroll      -9%     20.862   646.539409  13488.105146
 46      304563  Clive Carroll       0%     23.180   675.841999  15666.017526
 77      304563  Clive Carroll      10%     25.498   681.298363  17371.745654
 27      304575  Crys Matthews      -9%     20.862   646.539409  13488.105146
 58      304575  Crys Matthews       0%     23.180   675.841999  15666.017526
 ..         ...            ...      ...        ...          ...           ...
 54      304571  Water Culture       0%     14.640   646.539409   9465.336945
 85      304571  Water Culture      10%     16.104   646.539409  10411.870639
 18      304566   Will Overman      -9%     16.065   671.310372  10784.601123
 49      304566   Will Overman       0%     17.850   671.310372  11982.890137
 80      304566   Will Overman      10%     19.635   671.310372  13181.179150

 [93 rows x 6 columns])

In [75]:
final_predictions

,Event code,Artist,Ticket price,Date,predicted_tickets_sold,pred_low,pred_high,risk_flag
5,20138,The Drifters,55.00,2025-12-20,1009.918467,719.359359,1300.477575,True
17,304565,Earth,28.52,2025-11-12,916.967659,626.408551,1207.526767,True
3,20138,Preacher Lawson,40.00,2025-12-11,827.397872,536.838764,1117.956980,True
11,10530,Keith Harkin,50.00,2025-12-09,793.263866,502.704758,1083.822974,True
0,20135,Kathy Mattea,30.00,2025-11-02,781.495979,490.936871,1072.055087,True
1,20136,John Caparulo,45.00,2025-11-08,714.816719,424.257611,1005.375827,True
4,20138,The Wizards of Winter,55.00,2025-12-13,714.366230,423.807122,1004.925338,True
2,20137,Jason Crabb,NaN,2025-11-30,697.349116,406.790008,987.908224,True
9,10527,The Robby Limon Band,25.00,2025-11-26,681.298363,390.739255,971.857471,True
16,304564,Mama's Broke,23.18,2025-11-11,679.042485,388.483377,969.601593,True
14,304562,Sinister Feeling,22.50,2025-11-08,675.841999,385.282891,966.401107,True
29,304577,Spencer LaJoye,23.18,2025-12-11,675.841999,385.282891,966.401107,True
27,304575,Crys Matthews,23.18,2025-12-05,675.841999,385.282891,966.401107,True
15,304563,Clive Carroll,23.18,2025-11-09,675.841999,385.282891,966.401107,True
18,304566,Will Overman,17.85,2025-11-13,671.310372,380.751264,961.869480,True
10,10529,The Local Honeys,22.52,2025-12-05,664.721314,374.162206,955.280422,True
30,304578,Gangstagrass,23.18,2025-12-12,661.952171,371.393063,952.511279,True
19,304567,Ric Robertson,17.85,2025-11-15,647.825999,357.266891,938.385107,True
23,304571,Water Culture,14.64,2025-11-21,646.539409,355.980301,937.098517,True
6,10524,Dead Billionaires,18.30,2025-11-13,646.539409,355.980301,937.098517,True
28,304576,Ramona & The Holy Smokes,14.64,2025-12-06,646.539409,355.980301,937.098517,True
7,10525,Magnolia Boulevard,18.30,2025-11-14,646.539409,355.980301,937.098517,True
25,304573,Maiden & Crow,17.85,2025-11-29,646.539409,355.980301,937.098517,True
22,304570,Session Americana,17.85,2025-11-20,646.539409,355.980301,937.098517,True
21,304569,Paper Wings,21.05,2025-11-19,646.539409,355.980301,937.098517,True
12,304560,Mariee Sioux,23.18,2025-11-06,645.200921,354.641813,935.760029,True
20,304568,Pierre Bensusan,28.52,2025-11-16,635.581609,345.022501,926.140717,True
26,304574,Lilly Hiatt,23.18,2025-12-03,630.125245,339.566137,920.684353,True
13,304561,Gumm,22.50,2025-11-07,630.125245,339.566137,920.684353,True
8,10526,Jack Blocker,19.30,2025-11-15,625.593618,335.034510,916.152726,True
24,304572,Deaf Andrews,14.64,2025-11-22,600.822655,310.263547,891.381763,True

In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_excel('future event.xlsx')
df1.head()

,Event code,Artist,Ticket Price,Date,Tickets sold,Solo or Multiple
0,20135,Kathy Mattea,30,2025-11-02,NaN,1
1,20136,John Caparulo,45,2025-11-08,NaN,1
2,20137,Jason Crabb,$ -,2025-11-30,NaN,1
3,20138,Preacher Lawson,40,2025-12-11,NaN,2
4,20138,The Wizards of Winter,55,2025-12-13,NaN,1